.project--box-red {
    background-color: #BA4581;
}

.project--box-blue {
    background-color: #4547BA;
}

.project--box-green {
    background-color: #45BA7E;
}

.project--box-purple {
    background-color: #6370f0;
}

.green {
    background-color: #45ba7e;
}

.purple {
    background-color: #6370f0;
}

.red {
    background-color: #BA4581;
}

.blue {
    background-color: #4547BA;
}

.yellow {
    background-color: #E1C16E;
}