.sentiment--container {
    display: flex;
    color: #f5f5f5;
    flex-direction: column;
}

.sentiment--title--page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #45ba7e;
    width: 100%;
}

.grey {
    color: lightgray;
}

.sentiment--title {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: x-large;
    padding: 10px 15px;
    margin-top: 60px;
    margin-left: 150px;
    font-family: "luke.brev-font";
}

.sentiment--skills {
    position: relative;
    color: black;
    display: flex;
    width: 75%;
    height: max-content;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin-top: -40px;
}

.sentiment--intro {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #f5f5f5;
}

.sentiment--image {
    height: 250px;
    width: auto;
    align-self: center;
}

#intro2 {
    justify-content: right;
    background-color: #45ba7e;
    border-radius: 30px;
}

#intro3 {
    justify-content: left;
}

#intro4 {
    background-color: #4547BA;
    border-radius: 30px;
    margin-bottom: 100px;
}

#intro5 {
    justify-content:center;
}



.sentiment--intro--title {
    margin-top: 0;
}

.sentiment--intro--content {
    width: 350px;
    margin-top: 0; /* Remove top margin to align items */
    line-height: 35px;
}

.sentiment--intro--result {
    display: flex;
    gap: 30px;
}

.intro--color-blue {
    background-color: #4547BA;
    padding: 10px;
    border-radius: 15px;
}

.intro--color-red {
    background-color: #BA4581;
    padding: 10px;
    border-radius: 15px;
}

.intro--color-green {
    background-color: #45BA7E;
    padding: 10px;
    border-radius: 15px;
}